<div class="timer">
  <div class="timer__controls">
    <button type="button" data-time="300" class="timer__button">5 Minutes</button>
  </div>
  <div class="display">
    <h1 class="display__time-left"></h1>
    <p class="display__end-time"></p>
  </div>
</div>
