<div class="prompt-container">
<div class="prompt-bg">

  <div class="container">

    <%= render "shared/timer" %>

    <div class="word-info">


    </div>


    <%= form_for(@freewrite) do |f| %>


    <div id="prompt-text-area" class="prompt-body">
      <%= f.text_area :body, autofocus: true %>
    </div>

    <div class="prompt-submit-button">
      <%= f.submit %>
    </div>


    <% end %>

  </div>

</div>
</div>
