<!-- Main Content -->
    <div class="index-container">
      <div class="index-bg">

        <div class="container">
          <div class="col-lg-8 col-md-10 mx-auto">

            <div class="add-prompt-div text-center">
              <%= link_to "Free Write", new_freewrite_path, class: "btn btn-primary btn-block" %>
            </div>

            <% @freewrites.each do |freewrite| %>
            <div class="post-preview">
                <h2 class="post-title"><%= freewrite.body %></h2>
              <p class="post-meta"><%= time_display(freewrite.created_at) %></p>
              <p><%=freewrite.body.split.size %></p>
            </div>
            <% end %>

            <!-- Pager -->
            <div class="clearfix">
              <!-- <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
