.prompt-word {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #38bcac;
  font-weight: bold;
  font-size: 1.7em;
}

.post-subtitle {
  font-weight: 300;
  color: rgb(84, 84, 84);
  font-family: Josefin Sans;
  text-align: center;
  font-size: .9em;
  padding-left: 2em;
  padding-right: 2em;
}

.prompt-buttons {
  text-align: center;
}
