.jumbotron-heading {
  
}


.users-album {}

.users-container {}

.users-row{}

.card.user-card{
  min-width: 350px;
  margin: 0.7em;
  padding: 2.4em;
}

.user-username{
  text-align: center;
  font-size: 1.5em;
}

.user-city{
  text-align: center;
}

.user-bio{
  text-align: center;
  font-size: .8em;
}

.user-prompt-count{
  font-size: .8em;
  text-align: center;
}
